<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.7.2" />
      </system.Web>
  -->
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="NLCRecruitmentPortal.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="Constr" connectionString="Data Source='dblive';Initial Catalog='NLC LIVE DB';Integrated Security='SSPI'; Timeout='60'" />
  </connectionStrings>
  <appSettings>
    <add key="navServiceAccount" value="nav.admin" />
    <!--administrator-->
    <add key="navServiceAccountPassword" value="$y0K1M@u@91" />
    <!--NlC@12345-->
    <add key="notificationsEmailAccount" value="notifications@landcommission.go.ke" />
    <!--notifications@landcommission.go.ke-->
    <add key="notificationsEmailAccountPassword" value="P@ssword" />
    <!--P@ssword1-->
    <add key="SupportEmail" value="recruitment@landcommission.go.ke" />
    <add key="MailHost" value="192.168.10.22" />
    <!--mail.landcommission.go.ke-->
    <add key="Domain" value="landcommission" />
    <!--landcommission-->
    <add key="portalUrl" value="https://recruitment.landcommission.go.ke:2022/" />
    <!--https://hrms.landcommission.go.ke:8081/-->
    <add key="navBaseUrl" value="http://serverlive:1113/NLC2/WS/NLC/" />
    <!--http://serverlive:1113/NLC2/WS/NLC/-->
    <add key="navInstanceName" value="NLC2" />
    <!--NLC2-->
    <add key="Dbcompany_name" value="NLC" />
    <!--NLC-->
    <add key="portaladmins" value="20928082,24642902,27247445,30036579,28555587,30299836" />
	<add key="smtp_port" value="25" />
  </appSettings>
  <system.web>
    <customErrors mode="Off" />
    <compilation targetFramework="4.7.2" />
    <httpRuntime />
    <pages controlRenderingCompatibilityVersion="4.0">
      <namespaces>
        <add namespace="System.Web.Optimization" />
      </namespaces>
      <controls>
        <add assembly="Microsoft.AspNet.Web.Optimization.WebForms" namespace="Microsoft.AspNet.Web.Optimization.WebForms" tagPrefix="webopt" />
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" />
      </controls>
    </pages>
    <httpHandlers>
      <add verb="GET" path="CaptchaImage.axd" type="MSCaptcha.CaptchaImageHandler, MSCaptcha" />
    </httpHandlers>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <add name="MSCaptcha" verb="GET" path="CaptchaImage.axd" type="MSCaptcha.captchaImageHandler, MSCaptcha" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <applicationSettings>
    <NLCRecruitmentPortal.Properties.Settings>
      <setting name="NLCRecruitmentPortal_Countries_Countries_Service" serializeAs="String">
        <value>http://serverlive:1113/NLC2/WS/NLC/Page/Countries</value>
      </setting>
      <setting name="NLCRecruitmentPortal_HRLookUpValuesList_HRLookUpValues_Service" serializeAs="String">
        <value>http://serverlive:1113/NLC2/WS/NLC/Page/HRLookUpValues</value>
      </setting>
      <setting name="NLCRecruitmentPortal_Live_NLC_Portal_Live_NLC_Portal" serializeAs="String">
        <value>http://greencom-erp:1113/DynamicsNAV80_OLD/WS/NLC/Codeunit/Live_NLC_Portal</value>
      </setting>
      <setting name="NLCRecruitmentPortal_ApplicantProfile_ApplicantProfile_Service" serializeAs="String">
        <value>http://serverlive:1113/NLC2/WS/NLC/Page/ApplicantProfile</value>
      </setting>
      <setting name="NLCRecruitmentPortal_AppEmploymentProfile_AppEmploymentProfile_Service" serializeAs="String">
        <value>http://serverlive:1113/NLC2/WS/NLC/Page/AppEmploymentProfile</value>
      </setting>
      <setting name="NLCRecruitmentPortal_AppEmploymentDetails_AppEmploymentDetails_Service" serializeAs="String">
        <value>http://serverlive:1113/NLC2/WS/NLC/Page/AppEmploymentDetails</value>
      </setting>
      <setting name="NLCRecruitmentPortal_ApplicantReferees_ApplicantReferees_Service" serializeAs="String">
        <value>http://serverlive:1113/NLC2/WS/NLC/Page/ApplicantReferees</value>
      </setting>
      <setting name="NLCRecruitmentPortal_ApplicantRelevantDocuments_ApplicantRelevantDocuments_Service" serializeAs="String">
        <value>http://serverlive:1113/NLC2/WS/NLC/Page/ApplicantRelevantDocuments</value>
      </setting>
      <setting name="NLCRecruitmentPortal_HRJobQualifications_HRJobQualifications_Service" serializeAs="String">
        <value>http://serverlive:1113/NLC2/WS/NLC/Page/HRJobQualifications</value>
      </setting>
      <setting name="NLCRecruitmentPortal_ApplicantEducationBackground_ApplicantEducationBackground_Service" serializeAs="String">
        <value>http://serverlive:1113/NLC2/WS/NLC/Page/ApplicantEducationBackground</value>
      </setting>
      <setting name="NLCRecruitmentPortal_NoSeriesLines_NoSeriesLines_Service" serializeAs="String">
        <value>http://serverlive:1113/NLC2/WS/NLC/Page/NoSeriesLines</value>
      </setting>
      <setting name="NLCRecruitmentPortal_JobApplications_Job_Applications_Service" serializeAs="String">
        <value>http://serverlive:1113/NLC2/WS/NLC/Page/Job_Applications</value>
      </setting>
      <setting name="NLCRecruitmentPortal_ApplicantRegister_ApplicantRegister_Service" serializeAs="String">
        <value>http://serverlive:1113/NLC2/WS/NLC/Page/ApplicantRegister</value>
      </setting>
      <setting name="NLCRecruitmentPortal_HREmployeeRequisitionInternal_HREmployeeRequisitionInternal_Service" serializeAs="String">
        <value>http://serverlive:1113/NLC2/WS/NLC/Page/HREmployeeRequisitionInternal</value>
      </setting>
      <setting name="NLCRecruitmentPortal_HREmployeeRequisitionExternal_HREmployeeRequisitionExternal_Service" serializeAs="String">
        <value>http://serverlive:1113/NLC2/WS/NLC/Page/HREmployeeRequisitionExternal</value>
      </setting>
      <setting name="NLCRecruitmentPortal_PostalCodes_PostalCodes_Service" serializeAs="String">
        <value>http://serverlive:1113/NLC2/WS/NLC/Page/PostalCodes</value>
      </setting>
      <setting name="NLCRecruitmentPortal_HRTrainingApplicationHeader_HRTrainingApplicationHeader_Service" serializeAs="String">
        <value>http://serverlive:1113/NLC2/WS/NLC/Page/HRTrainingApplicationHeader</value>
      </setting>
      <setting name="NLCRecruitmentPortal_JobRequirementsCard_JobRequirements_Service" serializeAs="String">
        <value>http://serverlive:1113/NLC2/WS/NLC/Page/JobRequirements</value>
      </setting>
      <setting name="NLCRecruitmentPortal_RelatedJobQualificationsCard_RelatedJobQualifications_Service" serializeAs="String">
        <value>http://greencom-erp:1113/DynamicsNAV80_OLD/WS/NLC/Page/RelatedJobQualifications</value>
      </setting>
      <setting name="NLCRecruitmentPortal_ApplicantJobRequirements_ApplicantJobRequirements_Service" serializeAs="String">
        <value>http://serverlive:1113/NLC2/WS/NLC/Page/ApplicantJobRequirements</value>
      </setting>
      <setting name="NLCRecruitmentPortal_ApplicantRelatedJobQualify_ApplicantRelatedJobQualify_Service" serializeAs="String">
        <value>http://serverlive:1113/NLC2/WS/NLC/Page/ApplicantRelatedJobQualify</value>
      </setting>
      <setting name="NLCRecruitmentPortal_AllHRJob_ApplicationsList_AllHRJob_ApplicationsList_Service" serializeAs="String">
        <value>http://serverlive:1113/NLC2/WS/NLC/Page/AllHRJob_ApplicationsList</value>
      </setting>
    </NLCRecruitmentPortal.Properties.Settings>
  </applicationSettings>
</configuration>
<!--ProjectGuid: CEC2EEE0-5262-40E6-815A-B8F473B34B0F-->